@use '../../assets/styles/settings' as *;

.btn {
  display: inline-block;
  border-radius: $universe-border-radius-lg;
  border: none;
  padding: rem(14) rem(40);
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: $universe-font-weight-bold;
  line-height: normal;
  vertical-align: middle;
  color: $universe-black;
  text-align: center;
  text-decoration: none;
  transition: color $universe-timing-duration-extra-quick $universe-timing-curve-ease-in-out,
  background-color $universe-timing-duration-extra-quick $universe-timing-curve-ease-in-out,
  border-color $universe-timing-duration-extra-quick $universe-timing-curve-ease-in-out,
  box-shadow $universe-timing-duration-extra-quick $universe-timing-curve-ease-in-out;

  &--primary {
    background-color: $universe-yellow;
    color: $universe-black;

    &:hover {
      background-color: rgba($universe-yellow, 0.6);
    }
  }

  &--outline-primary {
    border: 2px solid $universe-yellow;
    background-color: transparent;
    color: $universe-yellow;

    &:hover {
      border-color: rgba($universe-yellow, 0.6);
      color: rgba($universe-yellow, 0.6);
    }
  }

  &--lg {
    font-size: rem(22);

    @media screen and (max-width: map-get($universe-breakpoints, 'md') - 0.02px) {
      padding-top: rem(7);
      padding-bottom: rem(7);
      font-size: rem(16);
    }
  }

  &--md {
    font-size: rem(22);

    @media screen and (max-width: map-get($universe-breakpoints, 'lg') - 0.02px) {
      padding-top: rem(7);
      padding-bottom: rem(7);
      font-size: rem(16);
    }
  }
}