@use '../../assets/styles/settings' as *;
@import '../../assets/styles/backgrounds';

.hero {
  position: relative;
  overflow: hidden;
  height: 490px;
  background-size: cover;
  background-position: 50% 50%;
  @extend .card-bg-1;

  @media screen and (max-width: map-get($universe-breakpoints, 'lg') - 0.02px) {
    height: 420px;
  }

  @media screen and (max-width: map-get($universe-breakpoints, 'md') - 0.02px) {
    height: 450px;
  }

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__decoration {
    position: relative;
    width: 26vw;
    height: 26vw;
    flex-shrink: 0;

    &:before {
      position: absolute;
      top: 14%;
      left: 11%;

      content: '';
      display: block;
      width: 72%;
      height: 72%;
      background-color: transparent;
      border: 1px solid $universe-gray;
      border-radius: 50%;
    }

    @media screen and (max-width: map-get($universe-breakpoints, 'lg') - 0.02px) {
      right: rem(11);
      width: 53vw;
      height: 53vw;
      max-width: 470px;
      max-height: 470px;

      &:before {
        top: 15%;
        left: 12%;

        width: 69%;
        height: 69%;
      }
    }

    @media screen and (max-width: map-get($universe-breakpoints, 'md') - 0.02px) {
      position: absolute;
      left: 50%;
      right: auto;
      transform: translate(-55%, -42%);
      width: 100vw;
      height: 100vw;
      max-width: 420px;
      max-height: 420px;
      top: 0;
    }

    &-objects {
      position: relative;
      width: 100%;
      height: 100%;

      background-image: url(../../assets/images/rocket.svg),
      url(../../assets/images/satellite-1.png), url(../../assets/images/satellite-2.svg),
      url(../../assets/images/satellite-3.svg), url(../../assets/images/planet.png);
      background-position: 52% 103%, 14% 28%, 12% 64%, 29% 82%, 100% 100%;
      background-repeat: no-repeat;
      background-size: 40%, auto, auto, auto, 80%;

      @media screen and (max-width: map-get($universe-breakpoints, 'lg') - 0.02px) {
        background-position: 52% 95%, 14% 29%, 12% 63%, 30% 81%, 100% 100%;
        background-size: 34%, auto, auto, rem(8), 80%;
      }

      @media screen and (max-width: map-get($universe-breakpoints, 'md') - 0.02px) {
        background-position: 57% 94%, 15% 33%, 14% 65%, 35% 83%, 100% 100%;
        background-size: 32%, 10%, rem(17), rem(8), 80%;
      }
    }
  }
}
