@use '../../assets/styles/settings' as *;

.card {
  $this: &;

  display: flex;
  flex-direction: column;
  gap: $universe-vertical;
  align-items: flex-start;
  padding: rem(36);
  min-height: 250px;
  font-family: 'Lato', sans-serif;
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 50%;

  &__heading {
    #{$this} & {
      width: 46%;

      em {
        color: $universe-pink;
      }

      @media screen and (max-width: map-get($universe-breakpoints, 'lg') - 0.02px) {
        width: 80%;
      }
    }
  }

  &__copy {
    color: $universe-white;
    font-size: rem(24);
    font-style: normal;
    font-weight: 800;
    line-height: 120%;

    em {
      color: $universe-yellow;
    }

    @media screen and (max-width: map-get($universe-breakpoints, 'lg') - 0.02px) {
      flex: 1;
      font-size: rem(16);
    }

  }

  @media screen and (max-width: map-get($universe-breakpoints, 'lg') - 0.02px) {
    padding-top: rem(106);
  }

  &--hero {
    padding-left: 0;

    @media screen and (max-width: map-get($universe-breakpoints, 'md') - 0.02px) {
      gap: rem(17);
    }

    #{$this}__heading {
      width: 70%;
    }

    #{$this}__copy {
      font-size: rem(32);

      @media screen and (max-width: map-get($universe-breakpoints, 'lg') - 0.02px) {
        flex: unset;
        font-size: rem(22);
      }

      @media screen and (max-width: map-get($universe-breakpoints, 'md') - 0.02px) {
        font-size: rem(16);
      }
    }

    @media screen and (max-width: map-get($universe-breakpoints, 'lg') - 0.02px) {
      flex: 1 1 60%;
      flex-shrink: 0;
      padding-top: rem(36);

      #{$this}__heading {
        width: 100%;
      }
    }

    @media screen and (max-width: map-get($universe-breakpoints, 'md') - 0.02px) {
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      height: 100%;
      text-align: center;
      padding: 0;

      .btn {
        margin-bottom: rem(44);
      }
    }
  }

  &--main {
    background-color: $universe-blue-dark;
  }
}