@use 'variables' as *;
@use 'functions/rem' as *;

html,
body {
  min-width: rem(360);
  font-family: 'Lato', sans-serif;
  font-weight: $universe-font-weight-bold;
  background-color: $universe-black;
  color: $universe-white;
}

.lock-scroll {
  overflow: hidden;
}